node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
src/backend/__pycache__
backend/__pycache__/app.cpython-36.pyc
backend/fsdvenv/
backend/requirements-backend.txt
backend/venv/
frontend/.env.production
‎backend/deploy-vm.sh
backend/__pycache__
